{% set current_url = page.permalink | default(value=config.base_url) %}

{% if page.title %}
<!-- Structured data for individual articles (blog posts, creative works, etc.) -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "description": "{{ page.description | default(value=config.description) }}",
    "url": "{{ current_url | safe }}",
    {% if page.date %}
    "datePublished": "{{ page.date }}",
    {% endif %}
    {% if page.updated %}
    "dateModified": "{{ page.updated }}",
    {% endif %}
    "author": {
      "@type": "Person",
      "name": "{{ config.author | default(value='mosaos') }}"
    }
  }
  </script>
{% else %}
<!-- Structured data for the home page -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{ config.title }}",
    "url": "{{ config.base_url | safe }}",
    "description": "{{ config.description }}"
  }
  </script>
{% endif %}